body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg_complete {
    background: #5F7C8A;
    color: #FFFFFF; /* White text for better contrast */
}

.bg_rotationend {
    background: #1E8449;
    color: #FFFFFF;
}

.bg_rotationongoing {
    background: #FFFF00; /* Standard yellow */
    color: #000000;
}

.bg_rotationstart {
    background: #efa099;
    color: #FFFFFF;
}


.student_links,
.student_schedule {
    margin:15px 0;
}

.student_links p,
.student_schedule p {
    font-size:77%;
    margin:3px 0; padding:0;
    color:darkblue;
    font-weight:bold;
}

.data-table td .student_links a,
.data-table td .student_schedule a{
    display:inline-block;
    margin:0 3px;
}

.status-criteria-toggle::after {
    content: " +";
    display: inline;
}

.status-criteria-toggle.expanded::after {
    content: " -";
}

.data-table td  .status_criteria {
    margin:0; padding:0;
    text-align:left;
    list-style:none;

}
.data-table td  .status_criteria li a {
    color:#333;
    font-size:65%;
}
